<!DOCTYPE html>
<html>
    <%- include('components/head') %>
    <body>
        <div style="min-height: 100vh;">
            <div class="modal" id="tos">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                       <p class="modal-card-title">이용약관</p>
                       <button class="delete" id="tos_close"></button>
                    </header>
                    <section class="modal-card-body"><%- tos %></section>
                    <footer class="modal-card-foot"></footer>
                </div>
            </div>
            <div class="modal" id="pri">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                       <p class="modal-card-title">개인정보취급방침</p>
                       <button class="delete" id="pri_close"></button>
                    </header>
                    <section class="modal-card-body"><%- pri %></section>
                    <footer class="modal-card-foot"></footer>
                </div>
            </div>
            <%-include('components/navbar', { title: title, logined: logined }) %>
            <div class="hero is-fullheight-with-navbar">
                <div class="hero-body">
                    <div class="container">
                        <div class="columns is-centered">
                            <div class="column is-8-tablet is-6-desktop is-5-widescreen">
                                <form class="box" action="/api/login" method="post">
                                    <h1 class="title">회원가입</h1>
                                    <div class="field">
                                        <label class="label">이름</label>
                                        <div class="control has-icons-left">
                                            <input class="input" type="text" required>
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-user"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">이메일</label>
                                        <div class="control has-icons-left">
                                            <input class="input" type="email" required>
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">패스워드</label>
                                        <div class="control has-icons-left">
                                            <input class="input" type="password" required>
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">패스워드 확인</label>
                                        <div class="control has-icons-left">
                                            <input class="input" type="password" required>
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-lock"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="label">상태 메시지 (선택)</label>
                                        <div class="control has-icons-left">
                                            <input class="input" type="text">
                                            <span class="icon is-small is-left">
                                                <i class="fa fa-quote-left"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <label class="checkbox">
                                            <input type="checkbox" required>
                                            <a href="#" id="tos_open">이용약관</a>과 <a href="#" id="pri_open">개인정보취급방침</a>에 동의합니다.
                                        </label>
                                    </div>
                                    <div class="field">
                                        <div class="buttons is-right">
                                            <button class="button is-success">회원가입</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <%- include('components/footer') %>
        <%- include('components/scripts') %>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                document.getElementById('tos_open').addEventListener('click', () => {
                    document.getElementById('tos').classList.toggle('is-active');
                });

                document.getElementById('pri_open').addEventListener('click', () => {
                    document.getElementById('pri').classList.toggle('is-active');
                });

                document.getElementById('tos_close').addEventListener('click', () => {
                    document.getElementById('tos').classList.toggle('is-active');
                })

                document.getElementById('pri_close').addEventListener('click', () => {
                    document.getElementById('pri').classList.toggle('is-active');
                })
            });
        </script>
    </body>
</html>